.hellnoo{
  background-color: #ffffff;
 

  display: grid;
  
}
.column2 {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 5;
 
}

/* Clearfix (clear floats) */
.row2::after {
  content: "";
  clear: both;
  display: table;
}

.column3 {
  float: left;
  width: 33%;
  
}

/* Clearfix (clear floats) */
.row3::after::after {
  content: "";
  clear: both;
  display: table;
  margin-left:15%;
}


/* 9 image ek sathhhhhh */
.imagescard{
  font-size: 16px;
  color: #191919;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.imagescardcap
{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 557;
  color: #4c4c4c;
}

/************IMAGEEEEEEEEEEEEE BACKGROUNDIII********/
